<h2 id="title">Ember CP Validations Demo</h2>
{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'basicusage'}}Basic usage{{/link-to}}
{{#link-to 'advancedusage'}}Advanced usage{{/link-to}}
{{#link-to 'arrayusage'}}Array usage{{/link-to}}


{{outlet}}
